<footer class="p-10  md:py-12 md:container 2xl:max-w-[1320px] flex flex-col md:flex-row md:items-center">
  <div class="mb-2 md:mb-0 md:basis-4/12">
    <p class="font-s-32">ALPHABOX+</p>
    <p class="hidden md:block font-16-700 tracking-[0.1rem]">Copyright © 2023 Hexschool.</p>
  </div>
  <div class="mb-2 md:mb-0 md:basis-4/12 md:text-center">
    <span class="material-symbols-outlined block text-[80px]">
      emergency
    </span>
  </div>
  <ul class="font-16-700 flex flex-col md:flex-row md:basis-4/12 md:justify-end">
    <li class="mb-2 md:mb-0 md:mr-6">關於我們</li>
    <li class="mb-2 md:mb-0 md:mr-6">產品資訊</li>
    <li class="mb-2 md:mb-0 md:mr-6">常見問題</li>
    <li class="mb-2 md:mb-0">隱私政策</li>
  </ul>
  <div class="md:hidden font-16-700 tracking-[0.1rem]">Copyright © 2023 Hexschool.</div>
</footer>