<nav class="py-4 bg-primary border-b border-white">
  <div class="container 2xl:max-w-[1320px] flex items-center justify-between">
    <div class="font-s-24 md:font-s-32 text-white">
      <a href="./index.html">ALPHABOX+</a>
    </div>
    <ul class="hidden lg:flex justify-between">
      <li class="mr-10 font-16-500 text-white">
        <a href="">產品</a>
      </li>
      <li class="mr-10 font-16-500 text-white">
        <a href="">關於我們</a>
      </li>
      <li class="mr-10 font-16-500 text-white">
        <a href="">最新消息</a>
      </li>
      <li class="mr-10 font-16-500 text-white">
        <a href="./faq.html">FAQ</a>
      </li>
      <li class="mr-10 font-16-500 text-white">
        <a href="">聯絡我們</a>
      </li>
    </ul>
    <ul class="hidden lg:flex items-center justify-between">
      <li class="mr-6 font-16-500 text-white">
        <a href="">註冊</a>
      </li>
      <li class="mr-8 font-16-500 text-white">
        <a href="">登入</a>
      </li>
      <li class="bg-white rounded">
        <button class="py-2 px-4 flex items-center font-16-500">
          <span class="mr-1 material-symbols-outlined">
            point_scan
          </span>訂閱
        </button>
      </li>
    </ul>
    <!-- 漢堡選單按鈕 -->
    <button class="menuBtn block lg:hidden ml-auto text-4xl text-white">
      &#9776;
      <!-- 漢堡選單代碼 -->
    </button>


  </div>
</nav>
<!-- 漢堡選單 -->
<ul class="menu overflow-hidden max-h-0 w-full text-center bg-gradient-to-b from-primary to-primary-2
      transition-all duration-500 ease-linear">
  <li class="pt-6 py-2 font-16-500 text-white">
    <a href="">產品</a>
  </li>
  <li class="py-2 font-16-500 text-white">
    <a href="">關於我們</a>
  </li>
  <li class="py-2 font-16-500 text-white">
    <a href="">最新消息</a>
  </li>
  <li class="py-2 font-16-500 text-white">
    <a href="./faq.html">FAQ</a>
  </li>
  <li class="py-2 font-16-500 text-white">
    <a href="">聯絡我們</a>
  </li>
  <li class="py-2 font-16-500 text-white">
    <a href="">註冊</a>
  </li>
  <li class="py-2 font-16-500 text-white">
    <a href="">登入</a>
  </li>
  <li class="pb-8">
    <button class="py-2 px-4 mx-auto bg-white rounded flex items-center font-16-500">
      <span class="mr-1 material-symbols-outlined">
        point_scan
      </span>訂閱
    </button>
  </li>
</ul>